body{
    background: url("https://code.org/images/app-lab/applab-tool.png");
    background-size:cover;
}

h1{
    text-align: center;
    color: blue;
}

h2{
    text-align: center;
}

div{
    color: black;
}
#speech{
    width: 25%;
}

.container{
    border: yellow 5px solid;
    background-color: rgb(50,0,0,.2);
   
}


img {
    width: 100px ;
}